.product-setting {
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(166, 165, 165, 0.2), 0px 1px 1px 0px rgba(240, 70, 70, 0.14), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.product-setting .shoe-details {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 80px;
    width: 90%;
}

.css-15v22id-MuiAccordionDetails-root {
    padding: 8px 0px 0px !important;
}

.product-setting .shoe-img {
    max-height:90%;
    width: 100px;
}

.product-setting .shoe-name, .shoe-description {
    margin: auto 50px;
    width: 400px;
}

.product-setting .shoe-price {
    margin: auto 50px;
    width: 200px;
    text-align: end;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.modal-content-wrapper {
    height: 20%;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px 50px;
}

.modal-title {
    width: 80%;
    margin: 5px auto;
    text-align: center;
}

.actions-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}
